---
layout: default
---

<div class="container">
	<div class="row">
		<div class="col">
{% for post in paginator.posts %}
			<h1 align="center"><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<div class="content">
				{{ post.content }}
				<br />
			</div>
{% endfor %}
		</div>
	</div>
	<div class="row justify-content-center align-items-center">
		<div class="col">
			<!-- <div class="pagination"> -->
				<p align="center">
{% if paginator.previous_page %}
					<a href="{{ paginator.previous_page_path }}" class="previous">
						Предыдущая
					</a>
{% endif %}
{% if paginator.previous_page and paginator.next_page %}
					<span> &nbsp;|&nbsp; </span>
{% endif %}
{% if paginator.next_page %}
					<a href="{{ paginator.next_page_path }}" class="next">Следующая</a>
{% endif %}
				</p>
			<!-- </div> -->
		</div>
	</div>
</div>
