<footer class="site-footer">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-center">
			<div class="col col-auto col-sm-auto col-md-auto col-xl-auto col-lg-auto">
					{% if site.copyright %}
					{{ site.copyright }}
					{% endif %}
			</div><!-- col -->
			<div class="w-100 d-block d-sm-none"></div>
			<div class="col col-auto col-sm-auto col-md-auto col-xl-auto col-lg-auto">
									{% if site.email %}
									<a href="mailto:{{ site.email }}">{{ site.email }}</a>
									{% endif %}
			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
</footer>