$white:    #fff;
$red:     #dc3545;
$body-bg: $red;
$body-color: $white;

/* custom vars */
$custom-font-size: 20px;

@include media-breakpoint-up(xs) {
	post-link {
		font-size:45px;
	}
}
@include media-breakpoint-up(sm) {
	
}
@include media-breakpoint-up(md) {
	
}
@include media-breakpoint-up(lg) {
		post-link {
			font-size:45px;
		}
}
@include media-breakpoint-up(xl) {
		post-link {
			font-size:45px;
		}
}

// Пример использования:  
@include media-breakpoint-up(sm) {
  .some-class {
    display: block;
  }
}