/**
 * Site header
 */
.site-header {
  padding: $spacing-unit 0;
  border-bottom: 1px solid $grey-color-light;
}

.home-link {
	font-size: $base-font-size * 1.2;
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.info-list {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
}

.info-list li {
	margin-right: 2em;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;

  li:not(:last-child) {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  @include relative-font-size(1.5);
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
}
