---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<div class="container-fluid">
			<div class="row align-items-center justify-content-center">
				<div class="col col-12 col-sm-12 col-md-11 col-lg-10 col-xl-10">
					<h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
				</div>
			</div>
			<div class="row align-items-center justify-content-center">
				<div class="col col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto">
					<p class="post-meta">
						<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
							{% assign date_format = site.minima.date_format | default: "%d.%m.%Y" %}
							{{ page.date | date: date_format }}
						</time>
					</p>
				</div>
			</div>
		</div>
	</header>
	<div class="post-content" itemprop="articleBody">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</article>